Flask>=1.1.1
gunicorn==19.9.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
itsdangerous==1.1.0
imutils>=0.5.3
opencv-python>=3.0.0
opencv-contrib-python
opencv-python-headless
opencv-contrib-python-headless
