<!DOCTYPE html>
<html>
<head>
	<title>Image Stylizer</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>

	<h2>Choose a style</h2>

	<div class="gallery">
	<div class="gallery1">

	<a href="http://localhost:5000/style?path=candy.t7">
		<img src="static/candy.jpg">
	</a>

	<a href="http://localhost:5000/style?path=feathers.t7">
		<img src="static/feathers.jpg">
	</a>

	<a href="http://localhost:5000/style?path=la_muse.t7">
		<img src="static/la_muse.jpg">
	</a>

	</div>

	<div class="gallery2">

	<a href="http://localhost:5000/style?path=mosaic.t7">
		<img src="static/mosaic.jpg">
	</a>

	<a href="http://localhost:5000/style?path=starry_night.t7">
		<img src="static/starry_night.jpg">
	</a>

	<a href="http://localhost:5000/style?path=the_scream.t7">
		<img src="static/the_scream.jpg">
	</a>

	</div>

	<div class="gallery3">

	<a href="http://localhost:5000/style?path=udnie.t7">
		<img src="static/udnie.jpg">
	</a>

	</div>
	</div>

	

</body>
</html>